*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

.row{
    display: flex;
}
main {
    padding-top: 100px;
    overflow-y: auto;
    width: 100%;
    height:calc(100vh - 100px);
    background-color: #141922;
}

aside{
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    height:calc(100vh - 100px);
    max-width: 200px;
    color: white;
    background-color: black;
}
ul{
    list-style: none;
    
}

li{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    margin: 5px 5px 5px 0;  
  
    
}

h5{
    margin: 0;
    padding: 0;
}

aside ul li > img{
    width: 20%;
}

.row_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: 700;
    color: #7c7e83;
}

.row_list > li{
    margin: 15px;
}

.blocco_aside{
    margin-top: auto;
}

.ul_scroll{
    overflow-y: auto;
}

.main_block_1,
.main_block_2,
.main_block_3{
    display: flex; 
    
}


.main_block_1{
    display: flex;

    text-align: center;
    padding: 30px 50px;
    margin-bottom: 50px;  
}

.main_block_2{
    display: flex;
    padding: 30px 50px;
    margin-bottom: 50px;  
}

.main_block_3{
    display: flex;
    padding: 30px 50px;
    margin-bottom: 50px;  
}
main img{
    width: 100%;
    height: 100%;
  
    
}

.song {
    max-width: calc(100%/6 - 20px);
    max-height: 250px;
    margin: 10px;
    background: cyan;
}


.song .subtitle{
    font-size: 14px;
    color: #787b7f;
}

.title_song{
    text-align: center;
}

footer{
    height: 100px;
    background-color: #282828;
}


/* .clearfix {
    content: "";
    display: table;
    clear: both;
  } */



/* xs */
@media screen and (max-width:767px) {
    .song{
        
        max-width: calc(100%/2 - 20px);
    }
    .main_block_1{
        flex-wrap: wrap;   
     }
}
/* small */
@media screen and (min-width:768px) and (max-width:991px) {
    .song{
        max-width: calc(100%/4 - 20px);
    }

    .main_block_1{
       flex-wrap: wrap;  
    }
}
/* md */
@media screen and (min-width:992px) {
    
}
/* lg */
@media screen and (min-width:1200px) {
    
}

