/* reset option */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.wrapper{
    width: 100%;
    height:100vh; 
}

.bar_fixed_top{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 201;
    width: calc(100% - 230px);
    text-align: right;
    line-height: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn{
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 20px 50px;
    border: 1px solid white;
    border-radius: 30px;
    background: transparent;
    
    color: white;
}

.btn:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.container_aside_main {
    display: flex;
    height:calc(100vh - 100px);
    
}

main {
    overflow-y: auto;
    padding: 100px 50px 0px 50px;
    width:calc(100% - 230px);
    height:100% ;
    background-color: #141922;
}

aside{
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height:100%;
    width: 230px;
    color: white;
    background-color: black;
}

aside img{
    overflow: hidden;
}

aside li{
    padding: 5px 5px 5px 20px;
}

aside a{
    padding: 5px 5px 5px 20px;
}

aside h5{
    padding: 5px 5px 5px 20px;
}

.app:hover{
    cursor:pointer;
    color: white;
}

#logo {
    margin: 10px 10px 0 20px;
    width: 70%;
}

/* list style */
ul {
    list-style: none; 
}

ul,
li {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    font-size: 14px;
    margin: 5px 5px 5px 0;    
}


aside ul li > img{
    width: 20%;
}

.aside_list_top {
    margin-top: 20px;
    margin-bottom: 20px;
}

.aside_list_top li {
    display: flex;
    align-items: center;
  
}

.img-song{
    position: relative;
    
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    height: 98.36%;
    transition: 0.5s ease;
    opacity:0;
    margin-bottom: 4px;
  }

  .overlay-border-radius {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    height: 98.36%;
    transition: 0.5s ease;
    opacity:0;
    margin-bottom: 4px;
    border-radius: 50%;
    

  }

  .overlay i{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 50px;
      transform: translate(-50%,-50%);
  }

  .overlay-border-radius i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
}
  
  .img-song:hover .overlay {
      cursor: pointer;
    opacity: 1;
  }

  .img-song:hover .overlay-border-radius {
    cursor: pointer;
  opacity: 1;
}

/* .circle-layover{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
} */



.ul_scroll li:hover{
    cursor: pointer;
    color: white;
}


.list_top_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: 700;
}

.list_top_main > li{
    padding: 15px;
}
.list_top_main > li > a:hover{
    color: white;
}



.border-bottom::after{
    content: "";
    margin: auto;
    padding: 2px;
    width: 40px;
    display: block;
    border-bottom: 3px solid #adff2f;
}

.play_icon:hover{
    
    transform: scale(1.2);
}

.aside_list_middle:hover a{
   
    color: white;
}
.aside_list_middle:hover i{
   background-color: white;

}





h5{
    text-transform: uppercase;
    font-size: 20px;  
    color: white;
}

.fa-plus-square{
    font-size: 40px;
}

.border-left{
    border-left: 4px solid #adff2f;
}

.aside_list_top li:hover{
    border-left: 4px solid #fffb07;
    transition: 0.2s ;
   
}

.aside_list_top li a:hover{
    color: white;
}



/* home */
#active{
    color: white;
}

.list_top_main a,
aside li > a,
aside .aside_list_middle a{
    text-decoration: none;
    color: #7c7e83;
}

.aside_list_middle a{
    display: flex;
    align-items: center; 
}

.fa-plus{
    padding: 8px;
    margin-right: 15px;
    font-size: 20px;
    background-color: #a3a3a3;
    color: black;
}

.ul_scroll {
    color: #7c7e83;
}

.lg_md_sm {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.aside_block_bottom {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px 20px;
    margin-top: auto;
    
   
}

.title-song{
    margin: 10px;
}

.container_bottom_aside{
    display: flex;
    margin:10px;
}


.app{
    font-size: 12px;
    color:  #7c7e83; 
}


hr{
    border-color:  #7c7e83;
    
}

.aside_block_bottom .profile{
    border-radius: 15px;
    width: 12%;
    background-color: gray;

}

.aside_block_bottom  .download{
    width: 8%;
}

.aside_block_bottom span{
    font-weight: 600;
    margin: 5px;
}



.ul_scroll{
    overflow-y: auto;
   
}

.intestation_row{
    margin-left: 10px;
}
.intestation_row > h2 {
    color: white;
}



.main_block{
    margin-bottom: 20px;
    display: flex;
    /* text-align: center; */
    /* align-content: center; */
    padding: 30px  0px;  
}


.border-radius{
    border-radius: 50%;
}

main img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  
}

.song {
   
    max-width: calc(100%/6 - 20px);
    margin: 10px;
}
.title-song {
    
}
.title-song > h4{
    font-size: 14px;
    color: white;  
}

.subtitle{
    font-size: 12px;
    padding-top: 5px;
    font-weight: 600;
    color: #787b7f;
}

/* foooter */

footer{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 200;
    height: 100px;
    background-color: #282828;
}

.footer_left {
    display: flex;
    align-items: center;
    width: 230px;
    height: 100%; 
} 

.footer_left .subtitle:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}


.footer_left > img{
    margin-left: 10px;
    width: 20%;
    height: 50%;
}

.footer_left > .icons{
    margin-left: 20px;  
    color: #797979;
}

i{
    cursor: pointer;
}

.icons i:hover{
    color: white;
}

.footer_center i,
.footer_right i{
    color: white;
}



.fa-folder{
    padding-left: 10px;
}

.title_song_footer{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: white;
}

.title_song_footer > .subtitle{
    padding: 0;
}

.footer_center{
    display: flex;
    flex-direction:column;
    align-self: center;
    width: 60%;
    height: 100%;
 
}


.player_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    height: 40%;
    
}


.player_top > i{
    margin: 10px;
}

.play_icon{
    
    font-size: 30px;
}

.player_bottom{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 60%;
    
}

.player_line{
    width: 40%;
    height: 4px;
    border-radius: 5px;
    background-color: #5a5a5a;
}

.player_line_progress{
    position: relative;
    width: 25%;
    height: 4px;
    border-radius: 5px;
    background-color: #c1c1c1;
}

.circle{
    position: absolute;
    top: -116%;
    right: -10%;
    width: 15px;
    height: 15px;
    display: none;
    border-radius: 50%;
    background-color: white;
}

.player_line:hover .player_line_progress{
    background-color: #b9f356;
    
}

.player_line:hover .circle{
    display: block;
    
}

.progress_song{
    font-size: 10px;
    padding: 10px;
    color: white;
}

.footer_right{
    display: flex;
    align-items: center;
    width: 300px;
    height: 100%;
}

.footer_right > .icons{
    margin-left: 20px;  
}

.footer_right i{
    padding: 10px;
}


/* .clearfix {
    content: "";
    display: table;
    clear: both;
  } */



/* xs */
@media screen and (max-width:767px) {
    #only_xs {
        text-align: center;
    }
    #only_xs img{
        margin-top: 10px;
        width: 70%;
    }
    .song{
        
        max-width: calc(100%/2 - 20px);
        transition: 0.2s;
    }
    .main_block{
        flex-wrap: wrap;   
    }
    .bar_fixed_top{
        width: calc(100% - 50px);
        transition: 0.8s;
    }

    aside{
        width: 50px;
        transition: 0.7s;
    }
    main{
        width: calc(100% - 50px);
    }

    .intestation_row > h2,
    .intestation_row > p {
        margin-left: 12px;
    }

    .footer_right > .icons {
        margin-left: 0px;
    }

    
    .footer_left{
        display: flex;
        align-items: center;
        width: 31%;
        height: 100%;
       
    }
    .footer_center{
        display: flex;
        flex-direction:column;
        align-self: center;
        width: 36%;
        height: 100%;
    }

    .footer_right i {
        padding: 3px;
    }

    .footer_right{
        display: flex;
        align-items: center;
        width: 31%;
        height: 100%;
    }

    .footer_left > .icons {
        color: #797979;
    }

    .icons:not(.footer_right .icons){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .fa-folder {
        padding: 5px 0px 0px 0px ;
    }
    
    .lg_md_sm{
        display: none;
    }
}
    
/* small */
@media screen and (min-width:768px) and (max-width:991px) {
    #only_xs{
        display: none;
    }
    /* .intestation_row{
        width: calc(90%/2 - 10px);
    }  */

    .song {
        max-width: calc(100%/2 - 20px);
        transition: 0.2s;
    }

 
    .intestation_row h2,
    .intestation_row p{
        margin-left: 15px;
    }
    
    .main_block{
        flex-wrap: wrap;   
    }

    .footer_right > .icons {
        margin-left: 0px;
    }

    .footer_left{
        display: flex;
        align-items: center;
        width: 31%;
        height: 100%;
       
    }
    .footer_center{
        display: flex;
        flex-direction:column;
        align-self: center;
        width: 36%;
        height: 100%;
    }

    .footer_right i {
        padding: 8px;
    }

    .footer_right{
        display: flex;
        align-items: center;
        width: 31%;
        height: 100%;
    }

    .icons:not(.footer_right .icons){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .fa-folder {
        padding: 5px 0px 0px 0px ;
    }

    }
    

/* md */
@media screen and (min-width:992px) {
    #only_xs{
        display: none;
    }

    .song{ 
        max-width: calc(100%/4 - 20px);
        transition: 0.2s;
    }
    .main_block{
        flex-wrap: wrap;   
    }

   
    .intestation_row > h2,
    .intestation_row > p{
        margin-left: 10px;
    }
}
/* lg */
@media screen and (min-width:1200px) {
    #only_xs{
        display: none;
    }

    .main_block, .main_block {
        /* margin-bottom: 100px; */
        display: flex;
        text-align: center;
        /* align-content: center; */
    }

    .intestation_row > h2,
    .intestation_row > p{
        margin-left: 10px;
    }

    .song{
        
        max-width: calc(100%/6 - 20px);
    }
    
    .main_block{
        flex-wrap: nowrap;  
    }
}

